In [1]:
%load_ext autoreload
%autoreload 2

In [15]:
import pickle
import pandas as pd

# Overlap between Cut&Tag motif and ATAC peaks

In [39]:
#Open peak pandas dataframe and write to .bed file
with open('../results/peaks_seq.pkl', 'rb') as file:
    peaks = pickle.load(file)

peaks

,chr,start,end,middle_peak,sequence,GC_cont
peakID,,,,,,
1:14154-15100,1,14154,15100,14627,GCCCACCGGCCCCAGGCTCCTGTCTCCCCCCAGGTGTGTGGTGATG...,0.585938
1:15698-16677,1,15698,16677,16188,GGCCATTAGGCTCTCAGCATGACTATTTTTAGAGACCCCGTGTCTG...,0.599854
1:17116-17963,1,17116,17963,17540,GGCTGACCATTGCCTTGGACCGCTCTTGGCAGTCGAAGAAGATTCT...,0.597168
1:28903-29812,1,28903,29812,29358,CACATGCAGCCACTGAGCACTTGAAATGTGGATAGTCTGAATTGAG...,0.489746
1:180637-181553,1,180637,181553,181095,ATGCTGATGGATTGTCAGCTTCCCAGATGTGCAAGAATCTCTCCTC...,0.537109
...,...,...,...,...,...,...
Y:56724332-56725266,Y,56724332,56725266,56724799,ACGGAATGGAATGGAATCCAAAGGAATGGAATAGAATGGAATGGAA...,0.389404
Y:56727619-56728608,Y,56727619,56728608,56728114,TGGAATGCACTCGAATGCAATGGAGTCGAAACAAATGGACTGGAAT...,0.391602
Y:56763067-56763979,Y,56763067,56763979,56763523,TGGAAGGGAGTGTAATGCAAGGTTCTCGAAAATAATGGAATCGAAT...,0.393555
Y:56829118-56830024,Y,56829118,56830024,56829571,TTCCTTTCCTTTCCATTCCATTCCTTTCCATTCCATTCCATGCGAG...,0.435059
Y:56836309-56837316,Y,56836309,56837316,56836812,CATTGCTTTCCATTGCATTCCATTCCATTCCATTCCACTCCACTCT...,0.474854

In [40]:
peaks.chr = ["chr" + str(c) for c in peaks.chr]
peaks[["chr","start","end"]].to_csv('../results/all_peaks.bed', sep="\t", index=False, header=False)

In [20]:
#Compute intersection between genomic regions

#MyoD1
!bedtools intersect -a ../results/all_peaks.bed -b ../data/MYOD1_25m_s450.bed > ../results/MyoD1_intersect.bed

MYOD1 = pd.read_csv("../results/MyoD1_intersect.bed", header=None, sep= "\t")
print(MYOD1)

#HES1
!bedtools intersect -a ../results/all_peaks.bed -b ../data/HES1_D8_REP1_filt_TFBS_HES1_s400.bed > ../results/HES1_intersect.bed

HES1 = pd.read_csv("../results/HES1_intersect.bed", header=None, sep= "\t")
print(HES1)

#PAX3
!bedtools intersect -a ../results/all_peaks.bed -b ../data/PAX3_D8_REP1_s500.bed > ../results/PAX3_intersect.bed

PAX3 = pd.read_csv("../results/PAX3_intersect.bed", header=None, sep= "\t")
print(PAX3)

        0          1          2
0    chr1    1291915    1291924
1    chr1    2161426    2161435
2    chr1    3491910    3491919
3    chr1    3900603    3900612
4    chr1    9129736    9129745
..    ...        ...        ...
669  chr9  133492314  133492323
670  chr9  134658563  134658572
671  chr9  136842853  136842862
672  chrX  134192374  134192383
673  chrX  145817356  145817365

[674 rows x 3 columns]
         0          1          2
0     chr1     827781     827789
1     chr1     920726     920734
2     chr1    1232109    1232117
3     chr1    1304858    1304866
4     chr1    1304860    1304868
...    ...        ...        ...
1505  chrX  154341982  154341990
1506  chrX  154390123  154390131
1507  chrX  154479022  154479030
1508  chrX  154479056  154479064
1509  chrY   19567275   19567283

[1510 rows x 3 columns]
        0          1          2
0    chr1    1064373    1064387
1    chr1   67430692   67430706
2    chr1  209879463  209879477
3    chr1  222382459  222382469
4    chr1  222382459  222382469
5    chr1  242208483  242208497
6   chr10   97585204   97585218
7   chr12   53757079   53757089
8   chr12   53757079   53757089
9   chr12   64403982   64403992
10  chr12   64403982   64403992
11  chr12  117450454  117450464
12  chr12  117450454  117450464
13  chr13   29510396   29510406
14  chr13   29510396   29510406
15  chr16     565474     565488
16  chr16    2794990    2795000
17  chr16    2794990    2795000
18   chr2   20551630   20551640
19   chr2   20551630   20551640
20   chr4   72117380   72117390
21   chr4   72117380   72117390
22   chr5  173301846  173301860
23   chr6  168277690  168277704
24   chr7  159026832  159026846
25   chr8   17090446   17090456
26   chr8   17090446   17090456
27   chr8   59626994   59627004
28   chr8   59626994   59627004
29   chr8   59626998   59627008
30   chr8   59626998   59627008
31   chr9   74304095   74304109

# Overlap between exonic regions and ATAC peaks

An overlap is defied as a peak having having at least half of its region inside an exonic region

In [31]:
exons = pd.read_csv("../data/ensemble_exon_sequences.bed", header=None, sep= "\t")
exons[0] = ["chr" + str(c) for c in exons[0]] 
exons.to_csv('../data/ensemble_exon_sequences.bed', sep="\t", index=False, header=False)

exons

/var/folders/nx/fx90wvl146lcdkglfty5_wr4qnvn43/T/ipykernel_15915/2411707598.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  exons = pd.read_csv("../data/ensemble_exon_sequences.bed", header=None, sep= "\t")

             0         1         2
0         chr1    182696    182746
1         chr1    183132    183216
2         chr1    183494    183571
3         chr1    183740    183901
4         chr1    183981    184174
...        ...       ...       ...
1575544  chr21  31706555  31706864
1575545  chr21  31735732  31736407
1575546  chr21  36156782  36156943
1575547  chr21  36164708  36164871
1575548  chr21  36199070  36199251

[1575549 rows x 3 columns]

In [42]:
peaks = pd.read_csv("../results/all_peaks.bed", header=None, sep= "\t")
peaks

           0         1         2
0       chr1     14154     15100
1       chr1     15698     16677
2       chr1     17116     17963
3       chr1     28903     29812
4       chr1    180637    181553
...      ...       ...       ...
297997  chrY  56724332  56725266
297998  chrY  56727619  56728608
297999  chrY  56763067  56763979
298000  chrY  56829118  56830024
298001  chrY  56836309  56837316

[298002 rows x 3 columns]

In [99]:
import numpy as np
len(np.unique(exons.index))

59315

In [128]:
#Compute the overlap between peak and exonic regions
!bedtools intersect  -f 0.5 -a ../results/all_peaks.bed -b  ../data/ensemble_exon_sequences.bed > ../results/exons_intersect.bed

exons = pd.read_csv("../results/exons_intersect.bed", header=None, sep= "\t")
exons.index = exons[0].astype("string") + ":" + exons[1].astype("string") + "-" + exons[2].astype("string")
exons = exons[~exons.index.duplicated(keep='first')]
exons

                           0         1         2
chr1:267600-268204      chr1    267600    268204
chr1:629640-630526      chr1    629640    630526
chr1:633696-634376      chr1    633696    634376
chr1:804776-805328      chr1    804776    805328
chr1:804776-805270      chr1    804776    805270
...                      ...       ...       ...
chrY:19041964-19042819  chrY  19041964  19042819
chrY:19042830-19043346  chrY  19042830  19043346
chrY:19043163-19043797  chrY  19043163  19043797
chrY:19603797-19604471  chrY  19603797  19604471
chrY:19744756-19745285  chrY  19744756  19745285

[19768 rows x 3 columns]