In [4]:
!python process_data.py

/Users/adorman/Documents/master-thesis/src/utils_data_preprocessing.py:86: ImplicitModificationWarning: Trying to modify attribute `.var` of view, initializing view as actual.
  adata.var['middle_peak'] = round((adata.var.end - adata.var.start)/2 + adata.var.start).astype('uint32')

In [31]:
import anndata 

adata = anndata.read_h5ad('../results/processed_data.h5ad')

In [41]:
import pyfaidx
from utils_data_preprocessing import *
test = adata[:,0:1000]

fetch_sequence(test, path_genome='../data/hg38.fa')

/Users/adorman/Documents/master-thesis/src/utils_data_preprocessing.py:86: ImplicitModificationWarning: Trying to modify attribute `.var` of view, initializing view as actual.
  adata.var['middle_peak'] = round((adata.var.end - adata.var.start)/2 + adata.var.start).astype('uint32')

In [42]:
test.var

,chr,start,end,middle_peak,sequence
peakID,,,,,
10:100004794-100005512,10,100004794,100005512,100005153,atgaataagaagtataagaatgggaaagggctgggcacggtggctc...
10:100004820-100005525,10,100004820,100005525,100005172,atgggaaagggctgggcacggtggctcaggcctgtaatcccagcac...
10:100004829-100005566,10,100004829,100005566,100005198,caggcctgtaatcccagcactttgggaggccaaggcacgtggatca...
10:100005947-100006870,10,100005947,100006870,100006408,TAGCCtggtaaacttattccaaattttatatggaaaaaataaattt...
10:100005972-100006890,10,100005972,100006890,100006431,ttttatatggaaaaaataaattttggtccaggaagagctaaataaa...
...,...,...,...,...,...
10:101067459-101068307,10,101067459,101068307,101067883,TATGGCTGGAGGGAAGTTATCTTCCCCGTCTGCCCTCCATTGGGGC...
10:101067477-101068229,10,101067477,101068229,101067853,CCCGCCTTTGAGGGAGGGAGGCTGGAGCCATATGGCTGGAGGGAAG...
10:101067507-101068275,10,101067507,101068275,101067891,GAGGGAAGTTATCTTCCCCGTCTGCCCTCCATTGGGGCTGATATAC...
10:101067510-101068334,10,101067510,101068334,101067922,TTGGGGCTGATATACATTATCTGCTTCTTTGCTCATCTTATTCCAA...
10:101067511-101068312,10,101067511,101068312,101067912,CTGCCCTCCATTGGGGCTGATATACATTATCTGCTTCTTTGCTCAT...

In [3]:
import numpy as np
np.mean(test.var.end - test.var.start)

NameError: name 'test' is not defined

In [49]:
def one_hot_encode(seq):
    mapping = dict(zip("ACGT", range(4)))    
    seq2 = [mapping[i] for i in seq]
    return np.eye(4)[seq2]

def encode_sequence(adata):
    
    #Capitalize all sequence
    adata.var.sequence = adata.var.sequence.str.upper()
    
    #One hot encode the the sequence
    return [one_hot_encode(seq) for seq in adata.var.sequence]

test.var['encoded_seq'] = encode_sequence(test)
test.var

,chr,start,end,middle_peak,sequence,encoded_seq
peakID,,,,,,
10:100004794-100005512,10,100004794,100005512,100005153,ATGAATAAGAAGTATAAGAATGGGAAAGGGCTGGGCACGGTGGCTC...,"[[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [..."
10:100004820-100005525,10,100004820,100005525,100005172,ATGGGAAAGGGCTGGGCACGGTGGCTCAGGCCTGTAATCCCAGCAC...,"[[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [..."
10:100004829-100005566,10,100004829,100005566,100005198,CAGGCCTGTAATCCCAGCACTTTGGGAGGCCAAGGCACGTGGATCA...,"[[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [..."
10:100005947-100006870,10,100005947,100006870,100006408,TAGCCTGGTAAACTTATTCCAAATTTTATATGGAAAAAATAAATTT...,"[[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [..."
10:100005972-100006890,10,100005972,100006890,100006431,TTTTATATGGAAAAAATAAATTTTGGTCCAGGAAGAGCTAAATAAA...,"[[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [..."
...,...,...,...,...,...,...
10:101067459-101068307,10,101067459,101068307,101067883,TATGGCTGGAGGGAAGTTATCTTCCCCGTCTGCCCTCCATTGGGGC...,"[[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [..."
10:101067477-101068229,10,101067477,101068229,101067853,CCCGCCTTTGAGGGAGGGAGGCTGGAGCCATATGGCTGGAGGGAAG...,"[[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [..."
10:101067507-101068275,10,101067507,101068275,101067891,GAGGGAAGTTATCTTCCCCGTCTGCCCTCCATTGGGGCTGATATAC...,"[[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [..."
10:101067510-101068334,10,101067510,101068334,101067922,TTGGGGCTGATATACATTATCTGCTTCTTTGCTCATCTTATTCCAA...,"[[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [..."
10:101067511-101068312,10,101067511,101068312,101067912,CTGCCCTCCATTGGGGCTGATATACATTATCTGCTTCTTTGCTCAT...,"[[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [..."

In [8]:
from sys import getsizeof

start_size = getsizeof(adata)/(1024.0**3)
print('Dataframe size: %2.2f GB'%start_size)

Dataframe size: 0.25 GB

In [44]:
print('total size reduction: %2.1f'%((1-10.01/30.02)*100))

total size reduction: 66.7

In [42]:
dataset.sequence_ATAC.dtypes

peakID         object
ATAC           uint16
cell_type    category
dataset      category
cont_ATAC       int64
chr          category
start          uint32
end            uint32
dtype: object

In [40]:
np.max(dataset.sequence_ATAC.start)

248945549

In [41]:
dataset.sequence_ATAC.ATAC = dataset.sequence_ATAC.ATAC.astype('uint16')

dataset.sequence_ATAC.cell_type = dataset.sequence_ATAC.cell_type.astype("category")
dataset.sequence_ATAC.dataset = dataset.sequence_ATAC.dataset.astype("category")

dataset.sequence_ATAC.chr = dataset.sequence_ATAC.chr.astype("category")
dataset.sequence_ATAC.start = dataset.sequence_ATAC.start.astype("uint32")
dataset.sequence_ATAC.end = dataset.sequence_ATAC.end.astype("uint32")

In [ ]:
start_size = getsizeof(dataset.sequence_ATAC)/(1024.0**3)
print('Dataframe size: %2.2f GB'%start_size)

In [178]:
test = dataset.sequence_ATAC[dataset.sequence_ATAC.dataset == 'D8_1']
test = test[0:1000]
test = test.drop(columns='cont_ATAC')

tracks = get_continous_track(test)
test['cont_ATAC'] = test['peakID'].map(tracks)

test

/var/folders/nx/fx90wvl146lcdkglfty5_wr4qnvn43/T/ipykernel_7937/2981353964.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for name, group in peak_metadata.groupby(['cell_type', 'dataset']):

,peakID,ATAC,cell_type,dataset,chr,start,end,cont_ATAC
0,10:100004794-100005512,0,12,D8_1,10,100004794,100005512,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,10:100004820-100005525,0,12,D8_1,10,100004820,100005525,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,10:100004829-100005566,0,12,D8_1,10,100004829,100005566,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,10:100005947-100006870,0,12,D8_1,10,100005947,100006870,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,10:100005972-100006890,0,12,D8_1,10,100005972,100006890,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...
995,10:101067459-101068307,0,12,D8_1,10,101067459,101068307,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
996,10:101067477-101068229,0,12,D8_1,10,101067477,101068229,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
997,10:101067507-101068275,0,12,D8_1,10,101067507,101068275,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
998,10:101067510-101068334,0,12,D8_1,10,101067510,101068334,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
999,10:101067511-101068312,0,12,D8_1,10,101067511,101068312,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [9]:
import pandas as pd 

cell_types = pd.read_csv('../results/bam_cell_type/D12_1/D12_1_cell_types.tsv', 
                            sep='\t', header=None)
cell_types.columns = ['barcode','cell_type']

cell_types.groupby('cell_type').count()

                     barcode
cell_type
12                       555
14                        80
Immature neuron          253
Mesenchymal             5610
Myoblast/Myocytes        908
Myogenic progenitor     1802
Neuroblast               396
Neuronal progenitor     5259
Somite                  2376